## OSX files
.DS _Store
*/.DS_Store
*.DS_Store
._*

## Build geneated
build/
output/
DerivedData/

## Various settings
xcuserdata/

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## CocoaPods
Pods/
Podfile.lock
PodConfig_dev.rb

## other
*.xcuserstate

## Xcode
*/*.xcworkspace/xcuserdata/*.xcuserdatad
*/*.xcworkspace/xcuserdata/*.xcuserdatad/*.xcuserstate
*.xcworkspace/xcuserdata/*.xcuserdatad
*.xcodeproj/xcuserdata/*.xcuserdatad
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
